.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.DS_Store
__pycache__/
tempCodeRunnerFile.py
.mypy_cache
/25*pdf
/bubble_free_news.ipynb
/src/article_data/train_article.csv
/src/article_data/train_articles_processed.csv
/src/article_data/trian_articles_processed.csv.zip
src/article_data/train_article.csv.zip
/src/data/
/src/test
.gitignore
.vscode
ybigta
.vscode
ybigta
json
fe/node_modules
fe/node_modules.vscode/
checkpoints/
kpfbert/
fe/node_modules
bubble_free_BERT/
bubble_free_tokenizer/
db/db_user.py
fe/package-lock.json
bubble_free_BERT/
bubble_free_tokenizer/
db/db_user.py
new_data/
