/* src/pages/MyPage.css */
.MyPage {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1000px; /* 원하는 최대 너비로 조정 */
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 기사 사이의 간격 */
}

.article-container {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px); /* 두 개의 기사 사이의 간격을 고려한 너비 조정 */
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

.button-group {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
